#subscribe-box {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
    object-fit: cover;
    gap: 20px;
}

#icon-cross {
    display: flex;
    position: absolute;
    top: 2vw;
    right: 2vw;
    color: #000;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
}

#subscribe-box {
    display: flex;
    overflow: hidden;
    object-fit: cover;
}

#subscribe-box img {
    object-fit: cover;
    max-width: 40%;
    height: 50%;
}

#subscribe-content {
    max-width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    max-width: 50%;
}

#subscribe-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

#subscribe-content p {
    font-size: 20px;
    color: grey;
}

#form {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

#subscribe-content input {
    font-size: 18px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#subscribe-content button {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}