#nav {
    background-color: #B5A58D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#nav-menu {
    color: black;
    display: flex;
    gap: 70px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.footer {
    background-color: #B5A58D;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: serif;
    font-size: 16px;
}

.left {
    font-weight: bold;
    font-size: 20px;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}